<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Active Your Account</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      body {
        text-align: center;
        margin: 0 auto;
        width: 650px;
        font-family: "Public Sans", sans-serif;
        background-color: #e2e2e2;
        display: block;
      }
      img {
        margin: auto;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        text-decoration: unset;
      }

      a {
        text-decoration: none;
      }

      h5 {
        margin: 10px;
        color: #777;
      }

      .text-center {
        text-align: center;
      }

      .header-menu ul li + li {
        margin-left: 20px;
      }

      .header-menu ul li a {
        font-size: 14px;
        color: #252525;
        font-weight: 500;
      }

      .password-button {
        text-align: center;
        background-color: #0da487;
        border: none;
        color: #fff;
        padding: 14px 26px;
        font-size: 18px;
        border-radius: 6px;
        font-weight: 600;
      }

      .footer-table {
        position: relative;
        background-color: rgb(48, 45, 45);
      }

      .footer-table::before {
        position: absolute;
        content: "";
        top: 0;
        left: -71%;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.3;
      }

      .footer-table::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.3;
      }

      .theme-color {
        color: #0da487;
      }
    </style>
  </head>

  <body style="margin: 10px auto">
    <h2 style="margin: 20px auto; text-align: center">Welcome To Skill Sync</h2>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);
        -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);
      "
    >
      <tbody>
        <tr>
          <td>
            <table
              class="contant-table"
              style="margin-top: 40px"
              align="center"
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <td>
                    <img
                      src="https://cdn0.iconfinder.com/data/icons/mail-message-2/512/Mail-24-512.png"
                      alt=""
                    />
                  </td>
                </tr>
              </thead>
            </table>

            <table
              class="contant-table"
              style="margin-top: 40px"
              align="center"
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr style="display: block">
                  <td style="display: block">
                    <h3
                      style="
                        font-weight: 700;
                        font-size: 20px;
                        margin: 0;
                        text-align: center;
                      "
                    >
                      Activate Your Account
                    </h3>
                  </td>

                  <td style="display: block">
                    <h3
                      style="
                        font-weight: 700;
                        font-size: 20px;
                        margin: 0;
                        color: #939393;
                        margin-top: 15px;
                        text-align: center;
                      "
                    >
                      Hello <%= user.name %>
                    </h3>
                  </td>

                  <td>
                    <p
                      style="
                        font-size: 17px;
                        font-weight: 600;
                        width: 74%;
                        margin: 8px auto 0;
                        line-height: 1.5;
                        color: #939393;
                      "
                    >
                      Thank you for registering with SlillSync. To active your
                      account. Please use the follwoing activation code:
                    </p>
                  </td>
                </tr>
              </thead>
            </table>

            <table
              class="button-table"
              style="margin-top: 27px"
              align="center"
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr style="display: block; text-align: center">
                  <td style="display: block; text-align: center">
                    <h2 style="text-align: center" class="password-button">
                      <%= activationCode %>
                    </h2>
                  </td>
                </tr>
              </thead>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
